* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

nav {
  display: inline-block;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 100px;
}

body {
  background: url("https://unsplash.it/2000/2000") no-repeat;
  background-size: cover;
}
